#page {
    background-color: red;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#items_holder {
    background-color: blueviolet;
    width: 400px;
    display: flex;
    flex-direction: column;
}

#category_name {
    background-color: aliceblue;
    height: 70px;

}

.item{
    background-color: aquamarine;
    margin: 10px;   
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    transition: 0.5s all;

}

.item:hover{
    background-color: white;
}

._name{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    margin: 0;
}
._description{
    height: auto;
    font-size: 12px;
    margin: 0;
}

._img
{
    height: 50px;
    width: 50px;
    margin: 3px;
}

.selected {
    margin-right: 0;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: -5px 0 5px black;
    transition: 0.5s all;
    background-color: wheat;
}

#item_full{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: wheat;
}

#item_title
{
    align-content: center;
    align-self: center;
    margin: 0;
    padding: 15px;
    margin-top: 30px;
    font-size: 40px;
    height: auto;
    width: auto;
    border-bottom: 1px solid black;
}

#item_descr
{
    align-content: center;
    align-self: center;
    padding: 10px;
    width: 80%;
    background-color: aliceblue;
    opacity: 0.7;
    
}

#item_body{
    align-content: center;
    align-self: center;
    padding: 10px;
    width: 80%;
}

#item_full_descr
{
    align-content: center;
    align-self: center;
    padding: 10px;
    width: 90%;
    background-color: aliceblue;
    opacity: 0.7;
    white-space: pre-line;
}

footer{
    background-color: beige;
    height: 80px;
}