#page {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#items_holder {
    width: 400px;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 768px) {
    #items_holder {
        width: 150px;
    }
}
#category_name {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    background-color: aquamarine;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#category_name p {
    align-self: center;
    border-bottom: 1px;
}
.item {
    background-color: aquamarine;
    border-radius: 2px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    transition: 0.5s all;
    
}

@media screen and (max-width: 768px) {
    .item_description {
        display: none;
    }
    .item_img{
        display: none;
    }
    .item{
        font-size: 12px;
        max-width: 150px;
    }
}

.item:hover {
    background-color: white;
}

.item_name {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    margin: 0;
}

.item_description {
    height: auto;
    font-size: 12px;
    margin: 0;
}

.item_img {
    height: 70px;
    width: 100px;
    margin: 3px;
}

.selected {
    margin-right: 0;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: -5px 0 5px black;
    transition: 0.5s all;
    background-color: wheat;
}

#item_full {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    background-color: wheat;
}

#item_title {
    align-content: center;
    align-self: center;
    margin: 0;
    padding: 15px;
    margin-top: 30px;
    font-size: 40px;
    height: auto;
    width: auto;
    border-bottom: 1px solid black;
}

#item_descr {
    align-content: center;
    align-self: center;
    padding: 10px;
    width: 80%;
    background-color: aliceblue;
    opacity: 0.7;
}

#item_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    width: 80%;
}

#item_full_descr {
    align-content: center;
    align-self: center;
    padding: 10px;
    width: 100%;
    background-color: aliceblue;
    opacity: 0.7;
    white-space: pre-line;
    overflow: auto;

}

@media screen and (max-width: 768px) {
    #item_body {
        width: 100%;
    }
}

#media{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer {
    height: 80px;
}